# Server
PORT=8080

# MongoDB
MONGODB_URI=mongodb://localhost:27017/blackjack

# MySQL R2DBC
R2DBC_URL=r2dbc:mysql://localhost:3306/blackjack_players
DB_USER=blackjack
DB_PASS=secret

# JWT
JWT_SECRET=IhzDnJu5w5nuos+lbMKgapbXqJITlZqy0s9xgqnfiqZkPH1eZXxTduDY2rA6KQ9G
           709p0KB6fugHYGhGQuQI4w==